<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="10.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net46" />
  <package id="NReco" version="2.0.3.0" targetFramework="net45" />
  <package id="NReco.VideoConverter" version="1.0.8.0" targetFramework="net45" />
</packages>